/* Logo */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    max-height: 60px; /* Ajusta el tamaño máximo según tu diseño */
}


/* Barra de busqueda */

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

.search-bar form {
    width: 100%;
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
}

.search-bar input {
    width: 100%;
    padding: 10px; /* Ajusta el relleno según sea necesario */
    font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
}

/* Estilos generales comunes */
.same-style {
    display: inline-block;
    padding: 10px 15px;
    margin: 0;
    text-decoration: none;
    color: inherit;
    border: none;
    font-size: 16px;
    background-color: inherit; /* Ajusta el color de fondo según sea necesario */
}

    /* Estilos para el botón "Haz tu Cita" en estado normal */
    .same-style.btn-reserva {
        /* Puedes agregar estilos adicionales según tu diseño */
    }

        /* Estilos para el botón "Haz tu Cita" en estado hover (al pasar el cursor sobre él) */
        .same-style.btn-reserva:hover {
            /* Puedes agregar estilos adicionales al pasar el cursor sobre el botón */
        }

        /* Estilos para el botón "Haz tu Cita" en estado de foco (cuando está seleccionado) */
        .same-style.btn-reserva:focus {
            /* Puedes agregar estilos adicionales cuando el botón está enfocado */
        }