<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Find Glasses.</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/template/css/bootstrap.css">
    <link rel="stylesheet" href="~/template/css/magnific-popup.min.css">
    <link rel="stylesheet" href="~/template/css/font-awesome.css">
    <link rel="stylesheet" href="~/template/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/template/css/themify-icons.css">
    <link rel="stylesheet" href="~/template/css/niceselect.css">
    <link rel="stylesheet" href="~/template/css/animate.css">
    <link rel="stylesheet" href="~/template/css/flex-slider.min.css">
    <link rel="stylesheet" href="~/template/css/owl-carousel.css">
    <link rel="stylesheet" href="~/template/css/slicknav.min.css">
    <link rel="stylesheet" href="~/template/css/reset.css">
    <link rel="stylesheet" href="~/template/style.css">
    <link rel="stylesheet" href="~/template/css/custom.css">
    <link rel="stylesheet" href="~/template/css/responsive.css">

</head>
<body>
    <div class="container-scroller">

        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="@Url.Action("Index", "Login")"></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            </div>
        </nav>

        <div class="container-fluid page-body-wrapper">

            <div class="main-panel" style="width:100%">
                <div class="content-wrapper">
                    @RenderBody()
                </div>

                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"></span>
                    </div>
                </footer>

            </div>
        </div>
    </div>

    <script src="~/template/js/jquery.min.js"></script>
    <script src="~/template/js/jquery-migrate-3.0.0.js"></script>
    <script src="~/template/js/jquery-ui.min.js"></script>
    <script src="~/template/js/popper.min.js"></script>
    <script src="~/template/js/bootstrap.min.js"></script>
    <script src="~/template/js/colors.js"></script>
    <script src="~/template/js/slicknav.min.js"></script>
    <script src="~/template//owl-carousel.js"></script>
    <script src="~/template/js/magnific-popup.js"></script>
    <script src="~/template/js/waypoints.min.js"></script>
    <script src="~/template/js/finalcountdown.min.js"></script>
    <script src="~/template/js/nicesellect.js"></script>
    <script src="~/template/js/flex-slider.js"></script>
    <script src="~/template/js/scrollup.js"></script>
    <script src="~/template/js/onepage-nav.min.js"></script>
    <script src="~/template/js/easing.js"></script>
    <script src="~/template/js/active.js"></script>
</body>
</html>
