@model ProyectoWeb.Entities.CitaEnt

@{
    ViewData["Title"] = "Registro de citas a clientes";
    Layout = "~/Views/Shared/_Layout_Administracion.cshtml";
}

<div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
            <div class="brand-logo">
                <h1>Registro de Cita a Clientes</h1>
                <br />
            </div>

            @using (Html.BeginForm("ActualizarCita", "Citas", FormMethod.Post, new { @class = "pt-3", @enctype = "multipart/form-data" }))
            {
                @ViewBag.MensajePantalla

                @Html.HiddenFor(m => m.IdCita)


                <div class="form-group">
                    <label>Fecha de la Cita</label>
                    <!-- Input para seleccionar la fecha -->
                    <input id="fechaHora" name="fechaHora" type="text" class="form-control flatpickr" />
                </div>

                <div id="horarios-container" style="display: none;">
                    <!-- Contenedor del carrusel de horarios -->
                    <div class="owl-carousel" id="horarios-carousel"></div>
                </div>


                <label>Tipo de Cita</label>
                <div class="form-group">
                    @Html.DropDownListFor(m => m.TipoCita, ViewBag.ConsultarTipoCita as List<SelectListItem>, new { @class = "form-control form-control-lg" })
                </div>

                <div id="horarios-container" style="display: none;">
                    <!-- Contenedor del carrusel de horarios -->
                    <div class="owl-carousel" id="horarios-carousel"></div>
                </div>

                <div id="hidden-data" style="display: none;">
                    @* Aquí puedes colocar datos adicionales que necesites para la lógica de horarios *@
                </div>

                <br />
                <button type="submit" class="btn btn-dark text-white rounded">Registrar Cita del Usuario</button>
                <br />
                <br />
                <br />
            }

        </div>
    </div>
</div>

<!-- Referencias a las bibliotecas externas y script -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/rangePlugin.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Flatpickr JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/rangePlugin.js"></script>
<!-- Owl Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script>
    $(document).ready(function () {
        var owl = null; // Almacenar el carrusel como una variable global

        flatpickr("#fechaHora", {
            enableTime: false,
            dateFormat: "Y-m-d", // Formato de fecha
            onChange: function (selectedDates, dateStr, instance) {
                if (selectedDates.length > 0) {
                    $("#horarios-container").show();
                    // Filtrar horarios disponibles
                    generarCarruselHorarios(selectedDates[0]);
                } else {
                    $("#horarios-container").hide();
                }
            }
        });

        function generarCarruselHorarios(fechaSeleccionada) {
            $.ajax({
                url: '/Citas/ObtenerFechasReservadas', // Ruta para obtener fechas reservadas
                type: 'GET',
                success: function (fechasReservadas) {
                    console.log("Fechas reservadas recibidas:", fechasReservadas);

                    var fechasReservadasArray = [];
                    if (Array.isArray(fechasReservadas)) {
                        fechasReservadasArray = fechasReservadas.map(function (fecha) {
                            return new Date(fecha); // Convertir las fechas a objetos Date
                        });
                    }

                    var horariosDisponibles = obtenerHorariosDisponibles();
                    var fechaISO = fechaSeleccionada.toISOString().split('T')[0]; // Obtener la fecha seleccionada en formato ISO

                    var horariosFiltrados = horariosDisponibles.filter(function (horario) {
                        var fechaHora = fechaISO + 'T' + horario; // Crear la fecha/hora para comparar
                        var fechaHoraComparar = new Date(fechaHora); // Convertir la fecha/hora a objeto Date

                        // Verificar si la fecha/hora está presente en las fechas reservadas
                        return !fechasReservadasArray.some(function (fechaReservada) {
                            return fechaReservada.getTime() === fechaHoraComparar.getTime(); // Comparar las fechas
                        });
                    });

                    var carouselContent = '';

                    if (horariosFiltrados.length > 0) {
                        horariosFiltrados.forEach(function (horario) {
                            carouselContent += '<div class="hour-item">' + horario + '</div>';
                        });

                        if (owl !== null) {
                            owl.trigger('destroy.owl.carousel');
                        }

                        $('#horarios-carousel').html(carouselContent);
                        owl = $('#horarios-carousel').owlCarousel({
                            loop: true,
                            margin: 10,
                            responsiveClass: true,
                            responsive: {
                                0: {
                                    items: 1,
                                    nav: true
                                },
                                600: {
                                    items: 3,
                                    nav: false
                                },
                                1000: {
                                    items: 5,
                                    nav: true,
                                    loop: false
                                }
                            }
                            // ... configuración adicional según tu necesidad
                        });

                        $('.hour-item').on('click', function () {
                            var selectedHour = $(this).text();
                            var fechaCalendario = document.querySelector("#fechaHora").value.split(" ")[0];
                            var selectedDateTime = fechaCalendario + ' ' + selectedHour;
                            document.querySelector("#fechaHora").value = selectedDateTime;
                        });
                    } else {
                        $('#horarios-carousel').html('No hay horarios disponibles para esta fecha.');
                    }
                },
                error: function (error) {
                    console.log('Error al obtener las fechas reservadas:', error);
                }
            });
        }

        function obtenerHorariosDisponibles() {
            var horarios = [];
            var hora = 7;
            var minutos = 0;

            while (!(hora === 17 && minutos === 0)) {
                horarios.push(('0' + hora).slice(-2) + ':' + ('0' + minutos).slice(-2));
                minutos += 30;

                if (minutos === 60) {
                    minutos = 0;
                    hora++;
                }
            }

            return horarios;
        }
    });
</script>
